[2013-02-23 11:56] Zahnentferner opened #1 "List products in Google Shopping"
https://admin.freewebstore.org/GoogleShopping.aspx?cl=1

http://www.google.com/merchants/newfeed?country=US

http://support.google.com/merchants/bin/answer.py?hl=en&answer=188494#BR

http://support.google.com/merchants/bin/answer.py?hl=en&answer=160567

[2013-07-15 16:58] #1 closed, assigned to nobody

[2014-10-21 06:18] Ceilican opened #2 "A new version compatible with the new Google Maps beta is needed"
Notify 林雍傑 <s0992640   ATAT  gmail.com> when ready.

[2015-02-11 13:53] Ceilican opened #3 "Allow the user to input consumption/emission in other measurement units"
It should be possible for the user to input the car's fuel consumption (in litres per km, or kilometres per litre or miles per gallon) and the extension would calculate the CO2 emissions (in g/km) automatically.

Code for such calculations can be found here: http://www.oiworld.org/map

Update: The link above is broken. See code below.

[2015-02-11 14:25] Ceilican opened #4 "Support public transport, biking and walking"
Right now, the extension always assumes that Google Maps suggested routes are for cars.  Therefore, it gives wrong estimations when the user has actually asked for biking, walking or public transport directions.  This should be fixed. At least, no estimation should be shown for these other modes of transportation (or it should be made clear that the estimation refers to *prevented* emissions in th

[2015-02-11 14:39] Ceilican opened #5 "Take speed into account"
The CO2 emissions (and fuel consumption) of a car depend significantly on its speed. For example, a car driving at 150km/h on a highway consumes more and emits more CO2 per kilometer than a car driving at a low speed in a city without traffic jams.

The options page should allow the user to specify the emissions or fuel consumptions for 2 or 3 different speeds. The actual average speed of a route

[2015-02-11 14:40] Ceilican opened #6 "Port this extension to Firefox"
The port should be done in a way that both versions (Chrome and Firefox) share as much code as possible, in order to facilitate maintenance.

[2015-02-11 14:41] Ceilican opened #7 "Port this extension to Safari"
The port should be done in a way that both versions (Chrome and Safari) share as much code as possible, in order to facilitate maintenance.

[2015-02-11 14:45] Ceilican opened #8 "Improve the design of the options page"
The current options page is too ugly for modern web design standards. It needs to be improved.

[2015-02-11 14:46] Ceilican opened #9 "Allow the user to choose other measurement units"
The user should be able to choose between kilograms and pounds, kilometres and miles, litres and gallons, and so on...

[2015-02-11 14:52] Ceilican opened #10 "Improve Javascript style"
The current code does not adhere to typical Javascript style conventions. The code should be improved according to Google's Javascript Style Guide (e.g. https://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml) or other well-know style guide.

The code should also be properly commented, also according to style guides.

[2015-02-11 15:07] Ceilican opened #11 "Estimate travel cost"
It would be easy to generalize this extension to estimate not only the CO2 emissions of a route but also the fuel costs (in money). This is interesting information, since a high cost is another incentive for the user not to use his car.

The options page should allow the user to specify the price of fuel per litre (or gallon) and choose whether he wants the travel cost to be displayed together wit

[2015-02-11 15:59] Ceilican opened #12 "Localize this extension to your own native language and region"

[2016-03-01 20:05] ExC0d3 commented on #3
Hi, I tried opening the link o see the code for the calculations, but got an Application Error, could you please confirm whether the link is active or not ?

[2016-03-01 21:38] Ceilican commented on #3
Sorry for the broken link. I will post the code I had in mind below:

[code]

[2016-03-01 21:43] Ceilican commented on #3
This issue has been partially solved in pull request 13: https://github.com/OiWorld/CarbonFootprintGoogleMaps/pull/13.

However, there is a related issue that still needs to be addressed, and its ideal solution would probably require a refactoring of the solution in pull request 13. The related issue is the following:

If a user specifies the emissions in, let's say, pounds instead of grams or kil

[2016-03-01 21:45] #2 closed

[2016-03-01 21:50] Ceilican commented on #9
This issue is a duplicate of Issue https://github.com/OiWorld/CarbonFootprintGoogleMaps/issues/3 .

[2016-03-01 21:50] #9 closed

[2016-03-01 21:53] Ceilican commented on #3
@ExC0d3 , It is important that you introduce yourself in our mailing-list: https://groups.google.com/forum/#!forum/cse-at-tu-wien-gsoc-2016

[2016-03-03 08:19] rohankatyal29 commented on #12
@Ceilican: Are you expecting something like this:

<img width="1273" alt="screen shot 2016-03-03 at 1 48 30 pm" src="https://cloud.githubusercontent.com/assets/2452426/13488358/ba5c5e80-e146-11e5-8f45-e67d299efd29.png">

A select menu to chose the language

[2016-03-03 08:48] Ceilican commented on #12
Not exactly. Ideally, the app should detect the user's language automatically. This should be feasible with use Google's localization features. In particular, I was thinking of this: https://developer.chrome.com/webstore/i18n

Another app of mine that has been partially localized is [Mind The Word](https://github.com/OiWorld/MindTheWord) (see also https://github.com/OiWorld/MindTheWord/tree/master

[2016-03-03 13:05] goelrohan6 commented on #10
Is the issue still open? as it is already merged.

[2016-03-03 18:22] rohankatyal29 commented on #10
@goelrohan6: The only major thing to refactor is the length of certain lines

[2016-03-03 23:09] Ceilican commented on #10
I will repeat here what I said for Mind The Word:

@goelrohan6 , The merged pull request https://github.com/OiWorld/MindTheWord/pull/60 (by @rohankatyal29) already does the most important improvements. However, [Google's Javascript Style Guide](https://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml) gives other recommendations that could still be taken into account. Therefore, I le

[2016-03-04 00:12] Ceilican opened #16 "CO2 Emissions not showing"
@rohankatyal29 noticed the following issue:

Thank you for noticing this!

The extension performs the following major steps:
1) it finds the route's distance in Google Maps webpage
2) it calculates the emissions
3) and, finally, it inserts the emissions back into the webpage.

For steps 1 and 3, the extension needs to navigate the DOM of the webpage. The problem is that, from time to time, Google

[2016-03-04 02:23] rohankatyal29 commented on #16
Hi @Ceilican,

This issue has been resolved in PR #17.
Please review it and let me know if any changes are required.

[2016-03-04 02:57] Ceilican commented on #16
I will check it tonight.

[2016-03-04 06:24] goelrohan6 opened #19 "Wrong input type for id="emission" in options.html"
Sir, I have made a pull request #18 regarding the issue.
please review it.

[2016-03-04 06:54] rohankatyal29 commented on #11
@Ceilican: We will need the user to input the mileage as well, won't we?

[2016-03-04 11:35] Ceilican commented on #11
Yes. This is already partially done in one of the open pull requests.

[2016-03-04 11:38] goelrohan6 commented on #11
@Ceilican I have added the required features and edited the required files.
please review all my pull requests
#20 ,  #21 , #22 , #23 , #24
tell me my mistakes so that i can improve
Thankyou .

[2016-03-04 11:39] rohankatyal29 commented on #11
Can you point me to that PR? I have completed the other part with the fuel cost

[2016-03-04 11:43] Ceilican commented on #19
Thanks!

[2016-03-04 11:43] #19 closed

[2016-03-04 11:44] rohankatyal29 commented on #11
@goelrohan6: Just a slight suggestion. All the PRs that you have created are contributing towards the same feature and so are the commits. You can squash all those commits into 1 and just raise 1 PR for this.

[2016-03-04 11:56] Ceilican commented on #11
@rohankatyal29 : The pull request is https://github.com/OiWorld/CarbonFootprintGoogleMaps/pull/14 . I'm waiting for @PrateekGupta1509 to do a few improvements, before merging it.

[2016-03-04 11:58] rohankatyal29 commented on #11
Thanks @Ceilican

[2016-03-04 12:00] Ceilican commented on #11
@goelrohan6 : indeed you should submit a single pull request containing all your changes. The general rule is: one pull request per feature or bug fix.

So, I will wait for you to resubmit a single pull request, ok?

[2016-03-04 12:00] Ceilican commented on #11
I will be away in the next 48 hours, without internet connection.

[2016-03-04 16:21] goelrohan6 commented on #11
@Ceilican sorry for such a mistake , i slipped a bit with git , will not commit such a mistake in future.
And i have pulled a req #26 regarding the same.
Thankyou

[2016-03-04 16:27] srikar0896 commented on #16
hello ceilican,
can you please send the link of the repository for this bug.?
Thank you

[2016-03-05 08:57] PrateekGupta1509 commented on #8
@Ceilican I would like to work on this. And would also like to know if i can add jquery ?

[2016-03-05 14:10] rohankatyal29 commented on #7
@Ceilican: Do you have a Apple Developer Account that I can use to port this?

[2016-03-05 14:13] rohankatyal29 commented on #4
@Ceilican: Can you point me to this data

[2016-03-06 08:10] ExC0d3 commented on #16
![screenshot from 2016-03-06 13 35 39](https://cloud.githubusercontent.com/assets/8655624/13553040/7eee14e0-e3a0-11e5-9c5d-2744275dae03.png)

I pulled the latest code, and it seems to be working for now.

Also I noticed that

**chrome.extension.sendRequest** is being used instead of
**chrome.extension.sendMessage**

which has been deprecated [See this](https://developer.chrome.com/extensions/exten

[2016-03-06 10:58] goelrohan6 commented on #3
@Ceilican I have solved the following issue in pull request #29 please review it accordingly and suggest changes if required, I have also solved the issue for showing units in pounds if the user prefers it.
UI updated, and the background image can be updated just by putting in the source folder by naming it background.jpg.

[2016-03-06 13:35] rohankatyal29 commented on #12
I have figured out a solution for this. But I am not being able to test it. I changed my chrome's locale using **chrome://setting/languages** and the used **var language = window.navigator.userLanguage || window.navigator.language;** to check my current locale, but it still shows en-US. I am not being able to change the accept language. I even tried with a chrome extension which changes the locale

[2016-03-07 01:10] Ceilican commented on #16
@ExC0d3 , thanks for noticing the deprecation! Could you fix the deprecation and submit a pull request?

[2016-03-07 01:10] Ceilican commented on #16
Issue resolved in pull request https://github.com/OiWorld/CarbonFootprintGoogleMaps/pull/17.

[2016-03-07 01:10] #16 closed

[2016-03-07 04:45] #3 closed

[2016-03-07 23:48] Ceilican commented on #8
Sorry for the delay in replying.

Yes, you can use JQuery.

[2016-03-07 23:51] Ceilican commented on #7
Not yet. But I think this issue should not be addressed yet. It is not simple enough to be a GSoC puzzle. I will create an account before the coding period begins.  If you would like to work on this issue, please promise to do so in your GSoC application, and briefly explain how you are going to do it and what you are going to need.

[2016-03-07 23:53] Ceilican commented on #4
I have only seen data from Helsinki once, and unfortunately I don't remember where. It is part of this issue to research and find reliable data or make good plausible estimations.

[2016-03-08 00:13] Ceilican commented on #12
No, unfortunately I don't know yet how to detect the user's language.

What you described seems to be a bug in Chrome. Maybe it would be worth it to send a bug report to Chrome's developers.

[2016-03-08 06:51] rohankatyal29 commented on #4
Okay, I will start looking for relevant data that we can use.

[2016-03-08 06:52] rohankatyal29 commented on #7
Okay, makes sense. Will mention the details in my application

[2016-03-09 16:34] rohankatyal29 commented on #12
I will send a bug report to Chrome's developers and wait for their response

[2016-03-10 11:38] share-with-me commented on #8
Does the UI redesigning (#8 issue) still stay open?

[2016-03-10 14:27] share-with-me commented on #12
@rohankatyal29  I used navigator.userLanguage , navigator.browserLanguage , navigator.systemLanguage and managed to get the same output en-US . However, when I tried to change my browser default language to some other language, it still outputs en-US. Is it the same thing that you have tried? Also any updates from chrome bug issue?

[2016-03-10 17:16] rohankatyal29 commented on #12
@share-with-me: I have tried doing that plus a couple of things more with no success. Don't have any updates about the bug yet

[2016-03-11 01:39] #8 closed

[2016-03-11 11:40] PrateekGupta1509 commented on #12
I have implemented this in my pull request #33 , added support for Hindi language.  To add support for other languages would need their respective translations.

[2016-03-12 10:36] Ceilican commented on #12
Thank you, @PrateekGupta1509 ! I will keep this issue open, in case other people would like to contribute other languages.

[2016-03-13 14:30] ayush1997 opened #35 "The Carbon emission values shown on map are not synced with options page"
Hi,
I pulled the latest code and loaded the extension.But the carbon emission values are not changing with changes in the options page.
![s1](https://cloud.githubusercontent.com/assets/15091994/13729150/8da5f796-e954-11e5-99bd-f43c0e2854b5.png)
![s2](https://cloud.githubusercontent.com/assets/15091994/13729153/94a474d2-e954-11e5-8838-28615ce9fe67.png)
![s3](https://cloud.githubusercontent.com/asse

[2016-03-13 14:33] ayush1997 commented on #35
I have pushed the code in PR#36 which resolves the above problem.

[2016-03-13 14:36] ayush1997 commented on #5
Hi,
I have added this feature in PR#36 now the user can input carbon emission at different speeds.
The speeds are compared with the average speed calculated using values given by Google maps and then calculated.

[2016-03-16 06:07] Ceilican commented on #35
Thanks!

[2016-03-16 06:07] #35 closed

[2016-03-23 11:59] heychirag commented on #6
I have submitted a proposal demonstrating steps to port this extension to both the browsers (Firefox and Safari) while simultaneously making it possible that all the three extension share as much code as possible. I would also be interested in implementing my own ideas that I have proposed, which I think will make the extension more accurate. Nevertheless, I would love to port this extension to ot

[2016-03-23 21:02] heychirag opened #47 "Negative values for Fuel Efficiency, CO2 Emissions and Fuel Consumption"
![screen shot 2016-03-24 at 1 04 31 am](https://cloud.githubusercontent.com/assets/13611666/14000708/70747ce4-f168-11e5-8556-5ba4d5c8e48f.png)

Its possible to enter negative values in input fields in the extension settings page.

I have done the necessary changes in PR #49 as a quick fix to the problem.

[2016-04-06 06:11] Ceilican opened #51 "Improve manifest"
See the discussion in this pull request: https://github.com/OiWorld/CarbonFootprintGoogleMaps/pull/43#issuecomment-203405174

[2016-06-21 13:04] #47 closed

[2016-08-21 20:01] heychirag opened #106 "pulling precise time from maps"
The issue we are facing presently is that we are pulling the total time of journey from maps. This however isn't the best way to get accurate emissions for public transport since:

1) The total time includes the time taken to actually walk to the Bus stop or a transit station.
2) It also includes the time idled during waiting for the next connection. Sometimes this waiting time can be very long ow

[2016-08-22 00:38] Ceilican commented on #106
Thanks!

[2016-09-22 21:20] Ceilican opened #113 "Strange Loading of Carbon Emission Rate in the Options page"
When the options page is loaded, the input field for the carbon emission rate firstly displays the default value and only after a few seconds it displays the value that has been stored.  It should show the stored value immediately.

[2016-09-22 21:28] Ceilican opened #114 "Localize/Internationalize KnowMore page"
... as currently done in the options page.

[2016-10-07 22:07] dracarys09 commented on #10
Hi, I would like to help with this issue.
Can you help me in understanding the workflow ?

[2016-10-10 04:37] Ceilican commented on #10
@dracarys09 , this issue has already been solved. I will close it now. But you are welcome to work on any other issue. The workflow is:

1) tell us that you are going to work on issue X;

2) work on issue X; ask for our help, if necessary.

3) submit a pull request with what you did, when you finish doing it.

[2016-10-10 04:37] #10 closed

[2016-10-10 04:38] #11 closed

[2016-10-10 04:38] #7 closed

[2016-10-10 04:39] #6 closed

[2016-10-10 04:40] Ceilican commented on #4
This issue has been partially solved by @heychirag . I will leave it open, because there might still be ways to improve the solution. Estimating the CO2 emissions reliably is not easy.

[2016-10-10 04:43] Ceilican opened #115 "Estimate CO2 emissions of flights in website that sell flight tickets"
This image from Aeroflot may be useful to find out the parameters for calculating the emissions per passenger for flights.

![screen shot 2016-10-07 at 21 05 39](https://cloud.githubusercontent.com/assets/1809436/19227068/1548b368-8f00-11e6-9898-ba64eb137179.png)

[2016-10-11 06:43] Ceilican opened #116 "Replace "Know More" link by a question mark icon"
![screen shot 2016-10-11 at 17 42 44](https://cloud.githubusercontent.com/assets/1809436/19261019/2e94cc96-8fda-11e6-8eb5-4f02b54a30dc.png)

[2016-10-11 06:45] Ceilican opened #117 "Calculated GHG emission is inconsistent with calculated CO2 emission"
![screen shot 2016-10-11 at 17 44 22](https://cloud.githubusercontent.com/assets/1809436/19261069/7393cb08-8fda-11e6-8b13-bed5cebb7e5d.png)

[2016-10-11 06:46] Ceilican commented on #117
GHG emissions should be always larger than CO2 emissions, because GHG includes CO2 and other gases.

[2016-10-11 06:47] Ceilican commented on #117
@PrateekGupta1509 , could you have a look on this issue?

[2016-10-12 05:20] Ceilican opened #118 "Yellow Colour makes links hard to see in the "Know More" pages"

[2016-10-12 13:40] PrateekGupta1509 commented on #117
@Ceilican I will try to rectify this, I think there was inconsistency in the information on the [website](http://www.biomassenergycentre.org.uk/portal/page?_pageid=75,163182&_dad=portal&_schema=PORTAL) mentioned in issue #3. Also the server for the site is down, so I will look it into it if it up in next few days or go with some different data source to correct this.

[2016-10-12 21:28] Ceilican commented on #115
Here is another source of fuel efficiency for planes: https://youtu.be/NlIdzF1_b5M

[2016-10-12 22:50] Ceilican opened #120 "Mozilla claims extension won't work on Firefox versions 43 and above"
<img width="659" alt="screen shot 2016-10-13 at 09 33 06" src="https://cloud.githubusercontent.com/assets/1809436/19330467/4a326ed0-912a-11e6-9128-52b63dbd38f9.png">

[2016-10-12 22:55] Kolpa commented on #120
Doesn't that just mean it won't work while it is not reviewed though? I'd like to see if it still says that when the Review is done.

[2016-10-12 22:57] Ceilican commented on #117
Ok!

[2016-10-12 23:00] Ceilican commented on #120
Ah, yes. You are right. I have just found this text, which explains it better:

![screen shot 2016-10-13 at 09 57 56](https://cloud.githubusercontent.com/assets/1809436/19330705/b5bb952c-912b-11e6-9556-19bdcc5a5a81.png)

It is annoying when people write just "and" when they actually mean "and therefore"...

[2016-10-12 23:00] #120 closed

[2016-10-20 01:58] boro741 opened #121 "Installing CarbonFootprint error -bash: gulp: command not found on Mac Os"
I've run the commands as instructed in the README file.

But when I run gulp groupChrome it says gulp command not found.

Also, I tried to install gulp using npm install -g gulp
command.
So even after installing gulp it gives me the same error.

![screen shot 2016-10-20 at 7 10 06 am](https://cloud.githubusercontent.com/assets/16509376/19543659/c3d7c57a-9696-11e6-8944-40abdd1e4f1a.png)

[2016-10-20 08:20] Kolpa commented on #121
This should not happen when gulp is properly installed, are you sure gulp is working outside of the project/can you rerun npm install -g gulp.

[2016-10-20 14:34] boro741 commented on #121
I've run successfully gulp groupChrome.
But now how can I use it ?
On the instructions given in README, it says "for chrome, load the unpacked extension from the Build/Chrome folder"
So I've found the Build folder-->Chrome.

So what should I suppose to do to run?

[2016-10-20 14:39] Kolpa commented on #121
If you just want to run the plugin you can install it from the chrome webstore at https://chrome.google.com/webstore/detail/carbon-footprint/ednfpjleaanokkjcgljbmamhlbkddcgh

If you want to do development i suggest reading up on how to use plugins in development mode in chrome especially this part which tells you exactly how to load a unpacked extension. https://developer.chrome.com/extensions/get

[2016-10-20 14:42] Kolpa opened #122 "No Download links in the README"
we should re add all available download links to the README or a link to the github.io page so people know they don't need to do a local build just to use the extension.

[2016-10-20 14:42] boro741 commented on #121
Thank you.

[2016-10-20 14:43] Kolpa commented on #121
No Problem :)

[2016-10-20 14:43] #121 closed

[2016-10-22 09:17] boro741 commented on #116
Is anybody working on this?
Otherwise assign me this work.

[2016-10-24 03:45] Ceilican commented on #116
I saw your pull request. I will merge when I return home next week.

[2016-10-24 12:38] boro741 commented on #116
No problem.

[2016-11-05 16:35] vheimgartner commented on #4
For Switzerland the emission factors are publicly available -> http://www.mobitool.ch/ There are emission factors for different public transport options.

[2016-11-05 19:05] PrateekGupta1509 commented on #117
Hi @Ceilican! Sorry for the late communication, I had exams and my fest coming up so wasn't really active for a while.
The earlier website doesn't seem to host the information any longer. So I was thinking of using the same source we used for data released by the EPA [source-link](https://www.epa.gov/sites/production/files/2015-12/documents/emission-factors_nov_2015.pdf) and  shifting the GHG emis

[2016-11-05 19:31] Ceilican commented on #117
Hi @PrateekGupta1509 ! I agree with you. Feel free to proceed.

[2016-11-06 09:53] PrateekGupta1509 commented on #117
Hi @Ceilican I found an [archived version of the website](https://web.archive.org/web/20160616202256/http://www.biomassenergycentre.org.uk/portal/page?_pageid=75,163182&_dad=portal&_schema=PORTAL) we used as the source, and it clearly shows GHG emission in CO2e being less than the CO2 produced on combustion.

[2016-11-06 20:17] Ceilican opened #125 "Be more precise about CO2 emissions on combustion and total life-cycle CO2 emissions"

[2016-11-06 20:29] Ceilican commented on #117
Hi @PrateekGupta1509 !  That table shows CO2 emissions *on combustion* and *life-cycle* GHG emissions (measured in CO2e).  *Life-cycle* emissions also take into account the emissions during production and transportation of the fuel, whereas *on combustion* emissions take only the emissions generated when the fuel is burned in the engine. For bio-fuels (like ethanol), the life-cycle emissions can b

[2016-11-06 22:12] PrateekGupta1509 commented on #117
Fixed in #126 .

[2016-11-06 22:14] #117 closed

[2016-11-19 02:47] #122 closed

[2016-11-19 02:47] Ceilican commented on #122
Done.

[2016-12-04 18:05] boro741 opened #128 "Replace 'Gasoline' term with 'Petrol' based on their location."
As in India also in some countries like UK Gasoline is referred as Petrol.
So replacing the term  based on their location  would ease people in understanding.
![screen shot 2016-12-04 at 11 26 13 pm](https://cloud.githubusercontent.com/assets/16509376/20868143/2a331c64-ba7a-11e6-9314-421b49243b70.png)

[2016-12-04 21:18] Ceilican commented on #128
That's a great idea!

Are you planning to implement it?

[2016-12-05 02:14] boro741 commented on #128
Yeah I'm planning for it.

[2016-12-05 05:45] Ceilican commented on #128
Ok. Thanks! Here are some tips:

1) I think it is better to make the fuel name depend on the user's "language/locale" preferences, rather than his/her location. For example, if the user has "en-UK" as his locale, he would still prefer to see "petrol" instead of "gasoline", even if he is currently located in the US.

2) @PrateekGupta1509 created a mechanism to allow internationalization/localizatio

[2016-12-05 08:41] boro741 commented on #128
Thanks! That's a great hint for me to start.

[2016-12-29 15:30] boro741 commented on #128
![screen shot 2016-12-29 at 8 55 24 pm](https://cloud.githubusercontent.com/assets/16509376/21547011/4c0cd274-ce09-11e6-8905-f9eac0b6c8c5.png)

Now I would be allowing petrol to display when the user selects Imperial and Gasoline when they select the US.

And for a metric should I keep both?

[2016-12-29 18:47] ceilican commented on #128
Hi @boro741 ! Thanks for the screenshot. I like how it is looking. Maybe we should simply keep both "Petrol" and "Gasoline" as options independently of what the unit system chosen by the user?

[2017-01-01 07:38] boro741 commented on #128
I've added Petrol to the list. But I don't know what broken when the map is opened it doesn't automatically pop-up on a new tab.

Here's the [link I made changes to the file](https://github.com/boro741/CarbonFootprint/commit/c600bc1e99cd8f2d9502ac0a9bbff3df7c53d707).

[2017-01-01 11:25] boro741 commented on #128
ok got it. Thank you @Kolpa

[2017-01-01 11:30] boro741 commented on #128
[Solution to this PR](https://github.com/OiWorld/CarbonFootprint/pull/129)

[2017-01-01 21:06] ceilican commented on #128
Thanks!

[2017-01-01 21:06] #128 closed

[2017-01-04 05:50] AnandKumar22 commented on #118
Instead of giving it any color can we make some small transition type while hovering like scaling the menu or changing the background of the nav.....I think this would surely work out..

[2017-01-04 05:56] ceilican opened #130 "Air quality map stopped working"
![screen shot 2017-01-04 at 16 54 25](https://cloud.githubusercontent.com/assets/1809436/21632891/a5d6962a-d29e-11e6-8d38-41efbce3af13.png)

[2017-01-04 05:56] ceilican commented on #130
@PrateekGupta1509 , when you have some time, could you find out what happened?

[2017-01-04 06:01] ceilican commented on #118
Links should be visible even before the user decides to hover on them. So, yellow should definitely be replaced by a better color. Whoever decides to fix this issue should study a little bit of color theory, in order to choose an elegant and visible color.

It is usually not elegant to have special effects when hovering. I would not recommend that.

[2017-01-04 06:07] PrateekGupta1509 commented on #130
Hi @ceilican,
I just tested it on my machine. It seem to be working just fine.
![untitled](https://cloud.githubusercontent.com/assets/12897605/21633090/1cce4b42-d272-11e6-91ce-c1caa8abc1b3.png)

@Kolpa and @heychirag could you please check it on your machine and let me know if it working for the two of you? Thanks.

[2017-01-04 06:11] ceilican commented on #130
Maybe it is a safari-only bug?

[2017-01-04 06:15] PrateekGupta1509 commented on #130
Might just be.
I dont have a Mac so I cant test it. Maybe @heychirag could help us with confirming and fixing it with me.

[2017-01-04 12:35] boro741 commented on #106
anybody woking on this issue?

[2017-01-04 12:41] boro741 commented on #130
I've tested on my mac. It works fine on chrome as well as safari.
![screen shot 2017-01-04 at 6 09 36 pm](https://cloud.githubusercontent.com/assets/16509376/21642566/22760e9a-d2a9-11e6-8146-7863e31e6d1c.png)

[2017-01-06 16:41] AnandKumar22 commented on #118
Guys,sorry for such silly disturbances but I am not able to get the
Html,CSS file of this project.
Could anyone help me out with this I want to contribute in the front-end
work.
Thank You.
ᐧ

On Wed, Jan 4, 2017 at 11:31 AM, Bruno <notifications@github.com> wrote:

--

*Anand Kumar*

*Department of Electrical Engineering*

*Senior Executive Member*

*Gopali Youth Welfare Society
<https://t.yesware

[2017-01-06 16:50] boro741 commented on #118
https://github.com/OiWorld/CarbonFootprint/tree/master/Source/Core/pages

[2017-01-06 20:28] ceilican commented on #118
Also, there are many tutorials on how to use git and GitHub out there. Make sure you read those. You should do the following steps:

1. fork this repository
2. clone your fork into your own local computer
3. make the changes you want in the files in your computer
4. commit and push your changes to your fork
5. make a pull request through GitHub

[2017-01-07 05:23] AnandKumar22 commented on #118
I have tried to solve this issue please have a look at the pull request and comment if further modification is needed..

[2017-01-07 07:14] AnandKumar22 commented on #115
Can we use the concept of web scrapping to scrap the data of CO2 emmision of different flights??

[2017-01-07 08:47] AnandKumar22 commented on #115
[CO2_released.pdf](https://github.com/OiWorld/CarbonFootprint/files/691386/CO2_released.pdf)
This pdf may provide sufficient data needed.....Can we use data scrapping to scrap data base provided online for the CO2 emmision of flights.

[2017-01-07 09:05] AnandKumar22 commented on #116
I replaced the know more link of the popup.html page by a question mark.
Is this was the thing required or something else?

[2017-01-07 10:59] ceilican commented on #115
Yes, this PDF seems to be excellent. Thanks!

[2017-01-07 11:02] ceilican commented on #115
The idea I had in mind is that, when a user visits a website like hipmunk.com, Carbon Footprint should  scrape the flight's distance or time, calculate the CO2 emissions per passenger for that flight and show this to the user next to the flight's distance or time. This would be very similar to what we already do for cars in Google Maps and other map services...

[2017-01-07 11:04] ceilican commented on #115
In the case of cars, all the coefficients needed for the calculation are available within our own javascript code or are input by the user in the options page. Therefore, we do not need to scrape them from anywhere.

[2017-01-07 11:06] ceilican commented on #118
I left a comment in the code...

[2017-01-08 01:22] ceilican commented on #106
Thanks, @boro741 . What kind of solution do you have in mind?   If I remember correctly, Google only shows the precise times for trip segments for the currently selected trip. How would you get precise segment times for unselected trips? Have you thought about that?  Please let us know, preferably before you start implementing something.

[2017-01-08 03:58] boro741 commented on #106
I didn't get with the solution yet. But I'm thinking to solve this PR.

[2017-01-10 20:00] ceilican commented on #130
Thank you all for checking this issue on your machines as well. I will check it again in my machine, when I have some time. The problem doesn't seem to be urgent, since apparently it was only happening with me.

[2017-01-16 03:42] boro741 opened #135 "CarbonFootPrint as a mobile app"
CarbonFootPrint as a mobile app would help people to get awareness how much amount of Carbon they are emitting while travelling.

[2017-01-16 04:40] ceilican commented on #135
It would be nice to use the user's location.

I imagine that we could try to figure out (or ask the user) whether he/she is moving by car, bicycle or public transportation and poll his location every few seconds and use the distance travelled to estimate the CO2 emissions. We could show update the CO2 emissions in real time! That could be very impactful. Such an app would be independent of (and di

[2017-01-16 07:04] Kolpa commented on #135
https://developers.google.com/android/reference/com/google/android/gms/location/ActivityRecognitionApi

This could be quite relevant

[2017-01-16 13:05] ceilican commented on #135
Interesting, @Kolpa !

[2017-01-19 14:45] boro741 commented on #135
I'm thinking of building with nativescript  https://www.nativescript.org/

[2017-01-19 23:14] ceilican commented on #135
Nativescript seems to be a good option. Are there any competing alternatives?

[2017-01-20 00:10] boro741 commented on #135
yeah. React native http://facebook.github.io/react-native/docs/getting-started.html .

[2017-01-20 01:28] ceilican commented on #135
What are the advantages and disadvantages of each?

[2017-01-20 16:59] boro741 commented on #135
Both supports the native API's.
What I think the advantage of Native Script is that we can easily build with JavaScript.
For React Native it requires knowledge of react.js.

Or,
We can go with java but it wouldn't be supporting on cross platform.

[2017-01-20 18:01] heychirag commented on #135
Hi @ceilican,

The app would be great addition to the project!

I have a slightly different approach to how we may be able to accomplish this. The official Google Maps  app from Google tracks down the entire location data of every person and shows a summary of the person's day in the "Your Timeline Pane". I think we may be able to retrieve this data through their APIs. The best part of this would

[2017-01-21 01:57] ceilican commented on #135
So, it seems that we have three ways of getting the information we need:

1) extracting the information we need from Google Maps app (assuming that it could be done somehow), as suggested by @heychirag .

2) using the Activity Recognition API suggested by @Kolpa .

3) polling location data ourselves and doing the activity recognition and time and distance measurements ourselves.

Regarding option

[2017-01-21 08:01] Kolpa commented on #135
Regarding option one: this would be great but as far as I know Google does not allow qfdws

[2017-01-21 08:03] ceilican commented on #135
what is "qfdws"?

[2017-01-21 08:20] Kolpa commented on #135
That was not intended sorry about that I edited the original comment

[2017-01-21 10:06] heychirag commented on #135
Although there is no official API, the data can be scrapped from here

https://www.google.com/maps/timeline/kml

If, you have allowed Google to access your location on your mobile, the history can be found in the above link.

**Option 1:**

Pros
- Straightforward - Using a feature that's already available
- Easy cross platform production/maintenance

Cons
-  Not everyone uses Google Maps

**Option

[2017-01-24 02:49] boro741 commented on #135
So the conclusion would be building a native app like Uber app using JavaScript frameworks(native script, react native) so that we don't need to implement everything from scratch.

Also use of js frameworks like native script would solve the cross-platform issue although it might be bit slower than native apps which are built on java or swift.

[2017-01-24 12:05] heychirag opened #137 "Migrating Safari port to a Safari App Extension"
Apple has come up with new platform called Safari App Extension. It's a native macOS app that can work as an extension to Safari and could also interact with the macOS itself. The benefit of this would be that we could list our app directly on the macOS app store instead of the Safari Extension Gallery. This could help in reaching out to more users. Also, some extra features (such as a menu bar pr

[2017-01-25 00:53] ceilican commented on #137
This idea seems interesting.

[2017-01-25 00:53] ceilican commented on #137
Apple is still reviewing our extension, by the way... That's why it hasn't appeared in the extension gallery yet.

[2017-03-01 02:55] AnandKumar22 commented on #118
@sanket0211 please have a look at the air index page,it has a problem regarding the positioning of the gray background box and the menu options.
@ceilican I think that for that page it already has a map,so we should leave the background blank.I think that will look better rather than any gray or black background.
![screenshot 25](https://cloud.githubusercontent.com/assets/21153573/23444021/8fcbf1a

[2017-03-01 03:07] AnandKumar22 commented on #115
@ceilican As you told that "when a user visits a website like hipmunk.com, Carbon Footprint should scrape the flight's distance or time, calculate the CO2 emissions per passenger for that flight and show this to the user next to the flight's distance or time." So for that too we need to atleast scrap the data (input) for calculating the CO2 emissions.
So can't we directly use the data provided (i.

[2017-03-01 06:19] AnandKumar22 commented on #116
@ceilican as I asked you earlier also regarding this issue........at first I replaced the "know more" link of the popup.html page by a question mark.
I think that there are few other issues as well in this page,infact this page is incomplete so can you suggest me the content and design of this page. I would like to work on it.

@ceilican I have also pulled request for the issue of localizing the e

[2017-03-01 06:24] AnandKumar22 commented on #12
@ceilican I have added the Portugal Translation,  please have a look at it.

[2017-03-01 07:20] ceilican commented on #116
Hi @AnandKumar22! We have moved to GitLab: https://www.gitlab.com/aossie/CarbonFootprint . Could you please interact with us there? I recommend that you focus on issues marked as "Puzzle for GSoC": https://www.gitlab.com/aossie/CarbonFootprint/issues .

[2017-03-02 01:26] ceilican commented on #137
This issue has been migrated to our new issue tracker in GitLab. Please continue discussions [here](https://www.gitlab.com/aossie/CarbonFootprint/issues/136).

[2017-03-02 01:26] #137 closed

[2017-03-02 01:33] ceilican commented on #135
From now on, discussion of this issue should continue on [this issue](https://www.gitlab.com/aossie/CarbonFootprint/issues/137) in our new issue tracker in GitLab,

[2017-03-02 04:34] ceilican commented on #115
Could you please use the [GitLab issue tracker](https://gitlab.com/aossie/CarbonFootprint/issues)? We are trying to migrate to GitLab...

As for your question, if the website (e.g. hipmunk.com) already provided CO2 emission per passenger, there would be no point in scraping it to show it to the user... Many of these flight search engines (including hipmunk) do **not** provide this information... T

[2017-03-05 12:21] ajayrahul97 commented on #135
Hi , I am Ajay Rahul , a sophomore at IIT Roorkee . I am an Android Developer , and i would like to contribute to the Carbon FootPrint for Android project as a part of GSoC 17 . Could you please comment the link for the github repo for the same ?, also , I believe carbon footprint for mobile would create more impact and be more efficient in achieving the objective !

[2017-03-06 12:21] heychirag commented on #135
@ajayrahul97 There is no project repo yet. If you want to work on it, I'll be glad to setup one for you.

[2017-03-06 13:57] ajayrahul97 commented on #135
@heychirag please do so , i am willing to work on it , i will have a look at the chrome extension and try to replicate it and also improvise it as a part of my GSoC 17 program ! Thanks !

[2017-03-06 23:19] DravitLochan commented on #135
Hi! My name is Dravit, a 2nd year undergrad pursuing Computer Science Engineering from Jaypee Institute of Information Technology. It is one cool and interesting idea. I look forward to contribute to Carbon Footprint in GSoC'17.

[2017-03-07 01:05] ceilican commented on #135
Hi @DravitLochan and @ajayrahul97 ! Remember that we moved to http://www.gitlab.com/aossie/CarbonFootprint/ .

[2017-03-07 01:05] ceilican commented on #135
See also the instruction in http://www.aossie.org/ .

[2017-03-08 18:49] shikharbhuddi commented on #135
Hi everyone! Myself Shikhar, undergraduate from BITS Pilani. I find the idea of Carbon Footprint intriguing and I am willing to work on it, with fellow developers as a part of GSoC 2017. I have prior experience in full Android application development lifecycle. I have worked with open source maps libraries as well.

[2017-03-09 23:21] Chaitanyachavali commented on #135
Hello everyone, I am Chaitanya, 3rd year undergraduate from NIIT University. Porting CarbonFootprint from browser extension to mobile application is a great idea. I want to work in this development as a part of GSoC 2017.
Proposal: Why can't we develop the mobile application in Apache Cordova (https://cordova.apache.org/). Cordova framework helps in building  Android,IOS,Windows applications with

[2017-03-09 23:41] ceilican commented on #135
@Chaitanyachavali : Thank you for your ideas! Could you repost them in our gitlab issue tracker (https://gitlab.com/aossie/CarbonFootprint/issues/137). We are gradually moving from Github to Gitlab.

[2017-03-09 23:42] ceilican commented on #135
@shikharbhuddi : thank for the intro. However, note that you shouldn't use issue trackers for personal introductions. Please have a look on our website (http://www.aossie.org) to find out how to contribute to our projects and communicate with us.

[2017-03-13 12:20] harshitdiwedi03 commented on #135
Hello Everyone!
I am a sophomore at IIT Delhi and wan to work on this project. I tries searching but couldn't find any repo for it. Can someone please guide me regarding how to start contributing for this project?

[2017-03-25 08:39] cskc97 commented on #135
Hi! I'm Krish, a sophomore at NYU. Came across this project and thought it was really cool. I'm gonna apply through the GSOC program. Can anyone let me know how I can join the mailing lists and also as to how I can contribute to the project? Thanks!

[2017-03-27 09:28] ceilican commented on #135
@cskc97 Hi! All the instructions that you need can be found in www.aossie.org .

[2017-04-01 08:06] argon448 commented on #135
I am a sophomore at AKTU and eager to contribute to this lovely project through GSoC.

[2018-02-21 14:48] championpaddler opened #140 "Calculator of CO2 emission by airplanes is not working."
Calculator of CO2 emission  by airplanes is not working properly .It need improvements for the User Interface  . Further , list lags while loading the airports . Further , Carbon emission can be added for flight option in google maps search rather than particularly  calculating  it on page.

[2018-02-21 14:50] heychirag commented on #140
@sk9331657 This is just a mirror repository. We have moved to Gitlab. Please contribute over [here](https://gitlab.com/aossie/CarbonFootprint).

[2018-11-21 20:29] Abhik1998 commented on #116
I solved both the issues

[2019-01-07 13:27] lohitha02 commented on #116
Can I work on this issue?

[2019-01-07 17:48] lohitha02 commented on #116
I have gone through the above comments but then it's still not changed so if this issue is still open, then I would like to work on it.

[2019-12-28 16:48] pzahemszky opened #142 "Firefox add-on URL is unavailable"
I tried following the instructions in `README.md` for installing the Firefox addon. However, the link to the Firefox add-on, https://addons.mozilla.org/en-US/firefox/addon/carbon-footprint/, is unavailable. See the detailed error message below.

[2020-01-04 11:56] pzahemszky opened #143 "Chrome extension should ask for the necessary permissions only"
When I click "Add to Chrome" in the Chrome Web Store, I get the following request for permissions:

My understanding is that the extension really only needs to access some of the websites, not all of them. I know that the access can be restricted in the extension settings of the user's browser, but it would be better if only the necessary permissions were asked for in the first place.

[2021-03-19 12:27] rushi-12320 commented on #130
is this bug solved or not